---
- name: Construct unique container name and extract global variables to local variables
  set_fact:
    container_name: "slow-query-digest-{{ ansible_date_time.iso8601_micro | to_uuid }}"
    db_host: "{{ slow_query_log_digest_database_host }}"
    db_port: "{{ slow_query_log_digest_database_port }}"
    db_user: "{{ slow_query_log_digest_database_user }}"
    db_pass: "{{ slow_query_log_digest_database_pass }}"
    db_name: "{{ slow_query_log_digest_database_name }}"
    db_review_table: "{{ slow_query_log_digest_database_review_table }}"
    db_history_table: "{{ slow_query_log_digest_database_review_history_table }}"
    
- name: Start percona toolkit container
  docker_container:
    name: "{{ container_name }}"
    image: "{{ slow_query_log_digest_image }}"
    networks: "{{ slow_query_log_digest_network }}"
    command: tail -f /dev/null
    volumes:
      - "{{ slow_query_log_digest_volume }}:/var/log/mysql/"

- name: Digest slow query log
  command: |
    docker exec {{ container_name }} sh -c
    'pt-query-digest --user={{ db_user }} --password={{ db_pass }} --port={{ db_port }} \
    --review h={{ db_host }},D={{ db_name }},t={{ db_review_table }} \
    --history h={{ db_host }},D={{ db_name }},t={{ db_history_table }} \
    --no-report --limit=0% \
    --filter="\$event->{Bytes} = length(\$event->{arg}) and \$event->{hostname}=\"$HOSTNAME\"" \
    {{ slow_query_log_digest_slowlog_path }}'

- name: Destroy percona toolkit container
  docker_container:
    name: "{{ container_name }}"
    state: absent
